.navbar-countries {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  margin: 10px 0px 0px 50px;
}

a.navbar-countries__link,
.navbar-countries__title {
    display: flex;
    flex-direction: row;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  text-decoration: none;
}

.navbar-countries__title {
  opacity: 0.5;
}

.navbar-countries__link-img {
  /* visibility: hidden; */
  display: none;
  width: 10px;
  height: 10px;
  margin-right: 3px;
}

a.navbar-countries__link:hover .navbar-countries__link-img {
  visibility: visible;
  display: block;
}

@media screen and (max-width: 420px) {
  .navbar-countries {
    visibility:hidden;
  }
}