.navbar {
  display: flex;
  flex-direction: column;
  width: 92%;
  height: 500px; 
  margin: 85px 0px 0px 50px;
  position: absolute;
  overflow: auto;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}

.navbar::-webkit-scrollbar {
    visibility: hidden;
}

a.navbar__link {
  border-bottom: 1px solid #3b3b3b;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 68px;
  font-weight: 300;
  line-height: 68px;
  text-align: right;
  text-decoration: none;
}

.navbar__link-img {
  visibility: hidden;
}

a.navbar__link:hover .navbar__link-img {
  visibility: visible;
}

@media screen and (max-width: 420px) {
  .navbar {
    width: 92%;
    margin: 10px;
    overflow: visible;
    -webkit-mask-image: none;
  }
}
