.case-no-img {
    margin: 10px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
  }

  .case-no-img:first-child{
      border-bottom: 0px; 
  }
  
  .case-no-img__img {
    width: 500px;
    height: auto;
  }
  
  .case-no-img__name {
    color: #939393;
    font-family: Arial;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
  }
  
  .case-no-img__description {
    color: #272727;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
  }
  
  a.case-no-img__url {
    display: flex;
    justify-content: start;
    color: #1a18f7;
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
  }
  
  a.case-no-img__url:-webkit-any-link {
    text-decoration: none;
  }
  
  a.case-no-img__url:hover{
      color: #0c0a57;
  }
  