.header-container {
  height: 740px;
  max-width: 100%;
  margin: 10px;
}

@media screen and (max-width: 420px) {
  .header-container {
    max-width: 100%;
    height: auto;
  }

  .header-container__menu {
    height: 100vh;
  }
}
