.case-quote{
margin: 60px;
}

.case-quote__quote{
    width:761px;
    color: #272727;
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
}

.case-quote__name{
    color: #272727;
    font-family: Arial;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
}