.header-photo {
  width: 100vw;
  max-width: 100%;
  height: 100%;
  background-image: url("../../../images/florensis.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-photo__title{
    position: absolute;
    top: 100px;
    left: 50px;
    color: #0e0e0e;
    font-size: 400px;
    font-weight: 400;
    line-height: 400px;
}

@media screen and (max-width: 420px) {
  .header-photo {
    min-width: auto;
    height: 60vh;
  }

  .header-photo__title{
    font-size: 170px;
}
}
