.search-bar {
  display: flex;
  align-items: center;
}

.search-bar__text,
.search-bar__value, 
.search-bar__select {
  color: #a3a3a3;
  font-size: 30px;
  line-height: 32px;
  font-family: Teko;
  padding: 14px;
}

.search-bar__select, .search-bar__value {
  width: 180px;
  border: none; 
  color: #363648;
  outline: none; 
}

.search-bar__clear-btn {
  width: 40px;
  background-color: #ffffff;
  border: none;
  color: #363648;
  font-size: 16px;
}
