.case-card__no-image {
  margin: 10px 20px 0px 20px;
  max-width: 350px;
  height: 190px;
  border-top: 1px solid #dddddd;
}

.case-card__no-image:first-child {
  border-bottom: 0px;
}

.case-card__no-image__name {
  padding-top: 15px;
  color: #939393;
  font-family: Arial;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
}

.case-card__no-image__description {
  color: #272727;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

a.case-card__no-image__url {
  display: flex;
  justify-content: start;
  color: #1a18f7;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
}

a.case-card__no-image__url:-webkit-any-link {
  text-decoration: none;
}

a.case-card__no-image__url:hover {
  color: #0c0a57;
}

@media screen and (max-width: 420px) {
  .case-card__no-image__img {
    width: 95vw;
    height: auto;
  }
}
