.case-row-alternative{
    display:flex; 
    flex-direction:row; 
    justify-content: space-between;
    width: 1200px;
}

.case-row-alternative__no-img-cases{
    width: 260px; 
}

@media screen and (max-width: 420px) {
    .case-row-alternative{
        display:flex; 
        flex-direction:column; 
        width: 95vw;
        margin: 10px; 
    }

    .case-row-alternative__no-img-cases{
        width: 95vw; 
    }
  }
  