.case-card {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}

.case-card__img {
  width: 585px;
  height: auto;
}

.case-card__img--large {
  width: 785px;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

.case-card__name {
  color: #939393;
  font-family: Arial;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.case-card__description {
  color: #272727;
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
}

a.case-card__url {
  display: flex;
  justify-content: start;
  color: #1a18f7;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

a.case-card__url:-webkit-any-link {
  text-decoration: none;
}

a.case-card__url:hover {
  color: #0c0a57;
}

@media screen and (max-width: 420px) {
  .case-card {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
}

@media screen and (max-width: 420px) {
  .case-card__img {
    width: 95vw;
    height: auto;
  }
}

@media screen and (max-width: 420px) {
  .case-card__img--large {
    width: 95vw;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  .case-card__img--mobile-img,
  .case-card__img--mobile-text {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  a.case-card__url {
    visibility: hidden;
  }
}
