.header-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  margin: 0px 50px;
  border-bottom: 2px solid #0e0e0e;
}

.header-bar__dept {
  width: 100px;
  height: 28px;
  background-image: url("../../../images/DEPT\ Logo\ Black.png");
}

.header-bar__btn {
  background-repeat: no-repeat;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #0e0e0e;
  font-size: 18px;
  line-height: 32px;
}

.header-bar--black {
  background-color: #0e0e0e;
  border-bottom: 2px solid #ffffff;
}

.header-bar__dept--black {
  background-image: url("../../../images/DEPT\ Logo\ White.png");
}

.header-bar__btn--black {
  width: 27px;
  height: 35px;
  color: #ffffff;
}

@media screen and (max-width: 420px) {
  .header-bar {
    padding: 15px;
    margin: 0px;
    background-color: #ffffff;
    border-bottom: 1px solid #0e0e0e;
  }

  .header-bar--black {
    background-color: #0e0e0e;
    border-bottom: 2px solid #ffffff;
  }
}
